<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mszx.hyb.common.dao.HybPlatformSecretMapper">
  <sql id="Base_Column_List">
    platformid,
    name,
    code,
    platform_key,
    secret,
    signpwd,
    is_skip,
    status,
    create_at
  </sql>
  <select id="selectByPrimaryKey"  resultType="com.mszx.hyb.common.entity.HybPlatformSecret">
    select 
    <include refid="Base_Column_List" />
    from hyb_ct_platform_secret
    where platform_key = #{platform_key} and secret = #{secret}
  </select>

</mapper>